@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  letter-spacing: 0.5px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
img {
  display: block;
}

.aboutus-hero {
  width: 100%;
  height: calc(90vh - 70px);
  background-image: url("../images/aboutus_hero.jpg");
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.841);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutus-hero-heading {
  margin-left: 80px;
  width: 45%;
  padding-top: 30vh;
}
/* heading */
.aboutus-hero-heading > h2 {
  font-size: 40px;
}
.aboutus {
  padding: 40px 60px;
}
.aboutus > h1 {
  font-size: 50px;
}
.aboutus > p {
  word-spacing: 3px;
  line-height: 25px;
  padding-top: 20px;
  letter-spacing: 1px;
}

/* what we do */
.aboutus-what-we-do > h5 {
  text-align: center;
  font-size: 38px;
  margin-top: 60px;
  margin-bottom: 30px;
}
.aboutus-what-we-do > div {
  display: flex;
  background-color: rgba(184, 184, 184, 0.418);
  padding: 3vw;
  box-shadow: 1.5px 1.5px 6px rgba(80, 80, 80, 0.486);
  margin-bottom: 10vh;
  margin-top: 10px;
  border-bottom: gray solid 14px;
  justify-content: space-evenly;
}
.aboutus-what-we-do > div > div {
  width: 24%;
  padding: 10px;
}
.aboutus-what-we-do-content > h6 {
  font-size: x-large;
}
.aboutus-what-we-do-img {
  width: 120px;
  border-radius: 4px;
  background-color: rgba(54, 54, 54, 0.87);
}
.aboutus-what-we-do-img > img {
  margin: 20px;
  border-radius: 4px;
  width: 120px;
  position: relative;
  bottom: 20px;
  right: 40px;
}
.aboutus-temp {
  margin-top: 100px;
}
/* profiles */
.aboutus-main-profile {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutus-main-profile > div > h5 {
  font-size: 35px;
}
.aboutus-main-profile > div > ul {
  list-style: none;
  line-height: 28px;
  font-style: italic;
  letter-spacing: 1.2px;
  word-spacing: 2px;
}
#trainers-profile {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
  font-size: 40px;
}
.aboutus-trainers-profile {
  display: flex;
  justify-content: space-evenly;
}
.aboutus-trainers-profile > div {
  width: 23%;
  border-radius: 10px;
  margin-bottom: 70px;
  box-shadow: 10px 0 10px rgba(175, 175, 175, 0.406);
  /* background-color: rgba(212, 212, 212, 0.527); */
}
.aboutus-trainers-profile-img {
  background-image: url("../images/trainer_bg.png");
  padding: 4.4vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: max-content;
}
.aboutus-trainers-profile-content {
  padding: 2vw;
}
.aboutus-trainers-profile-content > h5 {
  font-size: larger;
}
.aboutus-trainers-profile-content > p {
  letter-spacing: 1.2px;
  word-spacing: 1.1px;
  padding: 10px 4px;
}
.aboutus-trainers-profile-img img {
  position: relative;
  top: 0.13vw;
  /* left: .05vw; */
  /* box-shadow: 2px 2px 10px rgba(150, 150, 150, 0.562); */
  width: 10vw;
  border-radius: 50%;
}
.home-footer {
  color: white;
  padding: 20px 0;
  text-align: center;
  background-color: black;
}
@media screen and (max-width: 850px) {
  .aboutus-hero {
    height: calc(85vh - 55px);
  }
  .aboutus-hero-heading {
    text-align: center;
    width: 100%;
    text-shadow: 1px 1px 2.5px rgba(255, 255, 255, 0.74);
    padding-top: 17vh;
    margin: 0;
  }
  .aboutus {
    padding: 20px 30px;
  }
  .aboutus > h1 {
    font-size: 40px;
  }
  .aboutus > p {
    word-spacing: 2px;
  }
  .aboutus-what-we-do > h5 {
    font-size: 35px;
    margin-top: 60px;
    margin-bottom: 22px;
  }
  .aboutus-what-we-do > div {
    flex-direction: column;
    padding: 3vw;
  }
  .aboutus-what-we-do > div > div {
    width: 24%;
    padding: 10px;
    display: flex;
    width: 100%;
    margin: 10px;
  }
  .aboutus-what-we-do-content {
    padding-left: 25px;
  }
  .aboutus-what-we-do-img {
    width: 120px;
    height: 120px;
  }
  .aboutus-what-we-do-img > img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    bottom: 40px;
    right: 40px;
  }
  .aboutus-temp {
    margin-top: 70px;
  }
  /* profiles */
  .aboutus-main-profile > div > h5 {
    font-size: 30px;
  }
  .aboutus-main-profile > div > ul {
    line-height: 25px;
  }
  .aboutus-main-profile > img {
    width: 35%;
  }
  #trainers-profile {
    font-size: 30px;
  }
  .aboutus-trainers-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .aboutus-trainers-profile > div {
    width: 95%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 430px) {
  .aboutus-hero-heading>h2{
    font-size: 30px;
  }
  .aboutus-hero-heading>h3{
    font-size: 13px;
  }
  .aboutus {
    padding: 15px 20px;
  }
  .aboutus > h1 {
    font-size: 34px;
  }

  /* what we do */
  .aboutus-what-we-do > h5 {
    font-size: 30px;
  }

  .aboutus-what-we-do > div > div {
    flex-direction: column;
    width: 100%;
    box-shadow: 0 5px 25px rgba(80, 80, 80, 0.24);
    border-radius: 3px;
  }

  .aboutus-what-we-do-content {
    margin-top: 2.5vw;
    padding-bottom: 2.5vw;
  }
  .aboutus-temp {
    margin-top: 50px;
  }
  /* profiles */
  .aboutus-main-profile {
    flex-direction: column;
  }
  .aboutus-main-profile>img{
    width: 60%;
  }
  .aboutus-main-profile>div{
        padding: 20px;
  }
  .aboutus-main-profile > div > h5 {
    font-size: 20px;
  }
  .aboutus-main-profile > div > ul {
    line-height: 20px;
  }
  #trainers-profile {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
  }
  .aboutus-trainers-profile-img {
    background-image: url("../images/trainer_bg.png");
    padding: 11.5vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: max-content;
  }
  .aboutus-trainers-profile-content {
    padding: 2vw;
  }
  .aboutus-trainers-profile-content > h5 {
    font-size: large;
  }
  .aboutus-trainers-profile-content > p {
    letter-spacing: initial;
    word-spacing: initial;
    padding: 10px 4px;
  }
  .aboutus-trainers-profile-img img {
    position: relative;
    top: 0.13vw;
    /* left: .05vw; */
    /* box-shadow: 2px 2px 10px rgba(150, 150, 150, 0.562); */
    width: 27vw;
    border-radius: 50%;
  }
}
